.router-content {
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.match-grid {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) 350px minmax(50px, 1fr);
}

.result-field {
    width: 40px;
    height: 60px;
}

.MuiInputBase-input {
    display: flex !important;
    align-items: center;
}
.MuiSelect-root {
    height: 100% !important;
}

@media (max-width: 768px) {
    .match-grid {
        grid-template-columns: 50px 1fr 50px;
    }
    .result-field {
        height: 55px;
    }
}
